@charset "UTF-8";

*:focus {
	outline:none;
}

html,body{ 
	width:100%; 
	height:100%;
}

.container {
	min-height: 83.33%;
	padding-bottom: 150px;
	position: relative;
}

.container .header {
	width: 100%;
	height: 64px;
	position: fixed;
	display: flex;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 92.9%;
	background: #fff;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
}

.container .header .flex-grow {
	flex-grow: 1;
}

.container .header #logo {
	position: absolute;
    width: 53px;
    height: 45px;
    left: 20px;
    top: 8px;
	float: left;
}

.container .header #logo:hover {
	cursor: pointer;
}

.container .header .ect span {
	float: right;
}


.container .content {
	width: 100%;
	padding: 78px 30px 20px;
} 

.container .footer {
	display: flex;
	width: 100%;
	height: 150px;
	background: #F2F2F2;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer .contact {
	position: absolute;
	left: 30px;
	flex-grow: 1;
}

.footer .copyright {
	position: absolute;
	flex-grow: 3;
	top: 50%;
}

.msg {
	color: #E8754E;
	font-weight: 13px;
}