@charset "UTF-8";
.mainContainer {
	display: flex;
	flex-flow: row wrap;
}

.mainContainer .leftContainer {
	flex-grow: 1;
	width:50%;
	background: #343434;
}

.mainContainer .rightContainer {
	flex-grow: 1;
	width:50%;
	background: skyblue;
}