@charset "UTF-8";
.mainContainer {
	display: flex;
	flex-flow: row wrap;    
	width: 100%;
}

.mainContainer .leftContainer {
	flex-grow: 1;
	width:50%;
}

.mainContainer .rightContainer {
	flex-grow: 1;
	width:50%;
}